/* media query */

/* small device */
@media screen and (max-width: 576px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-cont
    {
        flex-direction: column;
        height: auto;
    }

    .menu li {
        font-size: 0.60rem;
        margin-right: 10px;
        padding: 5px;
        width: auto;
    }

    .btn-primary {
        position: static;
        margin: 3rem 0rem;
    }

    h2, p {
        margin-bottom: 2rem;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin: 1rem;
    }
}

/* mid device */
@media screen and (min-width: 577px) and (max-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-cont {
        flex-direction: column;
    }

    .menu li {
        font-size: 1rem;
        margin-right: 1rem;
        width: auto;
    }

    .btn-primary {
        position: static;
        margin: 3rem 0rem;
    }

    h2, p {
        margin-bottom: 2rem;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-right: 2rem;
    }
}