/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal */
* {
    margin: 0px;
    padding: 0px;
}

/* shared */
.btn-primary {
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border: none;
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
    cursor: pointer;
}

/* nav */
.nav-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    margin-right: 2rem;
    list-style: none;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu a {
    text-decoration: none;
    color: #3A3A3A;
}

.logo-t h5 {
    width: 243px;
    height: 52.2px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* bznner */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 5rem;
}

.ban-desk h2 {
    flex-shrink: 0;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.5rem; /* 134.615% */
}

.ban-desk p {
    height: 3.80rem;
    flex-shrink: 0;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}

.ban-img {
    background-image: url("../images/Circle\ design.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Main sec */
main {
    width: 100%;
    margin: 4rem auto;
}

/* sponcer sec */
.sponsor {
    display: flex;
    justify-content: center;
}

.spon-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    margin: 4rem 0rem;
}

/* products */
.pro-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    margin: 0 auto;
    align-items: center;
    gap: 1.5rem;
}

.title {
    width: fit-content;
    margin: 3rem auto;
}

.pro-itm {
    width: 20rem;
    height: 22rem;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0rem 1rem 1rem;
    text-align: left;
}

.arow {
    display: inline-flex;
    float: right;
    margin-top: 1rem;
    margin-right: 8rem;
    background-color: gray;
}

/* join section */
.join-cont {
    width: 85vw;
    margin: 5rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
}

.join-cont h3 {
    color: #0A0826;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem; /* 157.895% */
}

.join-cont p {
    margin-top: 1rem;
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 175% */
}

#btn {
    border-radius: 0;
}

/* Footer */
.foot h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.foot p {
    color: var(--text-gray-300, #D9DBE1);
    font-family: Manrope;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 171.429% */
}

.foot-cont {
    height: 30vh;
    background: #0A0826;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding: 3rem 0rem;
}

.foot-cont i {
    margin: 0.5rem;
    background-color: #3A3A3A;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}