/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal */
* {
    margin: 0px;
    padding: 0px;
}

/* shared */

/* nav */
.nav-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    margin-right: 2rem;
    list-style: none;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu a {
    text-decoration: none;
    color: #3A3A3A;
}

.logo-t h5 {
    width: 243px;
    height: 52.2px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}